body {
  background-color: black;
  text-align: center;
}

#header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  margin-bottom: 35px;
}

.phone {
  margin-top: 20px;
}

a {
  font-family: Verdana;
  color: Aquamarine;
  font-size: 16px;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

h4 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

footer {
  margin-top: 25px;
}

footer h4 {
  margin-bottom: 35px;
}

footer p {
  text-align: right;
  color: gray;
}
